@import "tailwindcss";
body {
  padding-bottom: 60px;
  transition: padding-bottom 0.3s ease-in-out;
}
body.player-hidden {
  padding-bottom: 0;
}

#radioPlayerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  height: 60px;
}
#radioPlayerContainer.hidden-player {
  transform: translateY(100%);
}

body.player-hidden #togglePlayerBtn {
  bottom: 0;
}